<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="http://localhost:9000/api/paytm/request">
        <input type="text" name="ORDER_ID" id="ORDER_ID" value="34fddsk32" />
        <input type="text" name="INDUSTRY_TYPE_ID" id="INDUSTRY_TYPE_ID" value="Retail" />
        <input type="text" name="CUST_ID" id="CUST_ID" value="Jorin" />
        <input type="text" name="CHANNEL_ID" id="CHANNEL_ID" value="WEB" />
        <input type="text" name="TXN_AMOUNT" id="TXN_AMOUNT" value="100" />
        <input type="text" name="WEBSITE" id="WEBSITE" value="WEBSTAGING" />
        <input type="text" name="MID" id="MID" value="BrPDjY65385433190861" />
        <input type="text" name="PAYTM_MERCHANT_KEY" id="PAYTM_MERCHANT_KEY" value="0rGWTjY%y6kPsGgf" />
        <button type="submit" id="user-submit "> Submit</button>
        </form>
        </body>
</html>